<template>
  <CardComponent>
    <RouterLink :to="{name: 'single-item', params: {itemId: item['uuid']}}">
      <h3 class="inline">
        {{ item['title'] ? item.title : "" }} <small>[{{item['uuid']}}]</small>
      </h3>
    </RouterLink>

    <ChooseAtomByLabel :item="item" />
  </CardComponent>
</template>

<script setup lang="ts">
import ChooseAtomByLabel from "../ChooseAtomByLabel.vue";
import CardComponent from "../ui/CardComponent.vue";

interface Props {
  item: any
}

const {item = {}} = defineProps<Props>()
</script>
