<template>
  <CardComponent>
    🙂
    <RouterLink :to="{name: 'single-item', params: {itemId: people['uuid']}}">
      <h3 class="inline">
        {{ people['name'] ? people.name : "" }}
      </h3>
    </RouterLink>

    <ChooseAtomByLabel :item="people" />
  </CardComponent>
</template>

<script setup lang="ts">
import ChooseAtomByLabel from "../ChooseAtomByLabel.vue";
import CardComponent from "../ui/CardComponent.vue";

interface Props {
  people: any
}

const {people = {}} = defineProps<Props>()
</script>
