<script setup lang="ts">
import {useAppStore} from '../stores/AppStore'
import ChooseCardByType from "../components/ChooseCardByType.vue";
import PrimaryButton from "../components/ui/PrimaryButton.vue";

let {getAllItems, addItem} = useAppStore();
// ordered by uuid

const items = getAllItems.sort((a: any, b: any) => b.uuid - a.uuid)

</script>

<template>
  <ul class="list-none">
    <li v-for="(item) in items" :key="item['uuid']">
      <ChooseCardByType :item="item"/>
    </li>
  </ul>
  <primary-button name="add-Item" @click="addItem({uuid: Date.now().toString(), type: 'card'})">add item</primary-button>
</template>
