<script setup lang="ts">
import {useAppStore} from '../stores/AppStore'
import {useRoute} from "vue-router";
import PrimaryButton from "../components/ui/PrimaryButton.vue";
import {ref} from "vue";

const route = useRoute()
const itemId = route.params.itemId as string
let {getItem, removeItem} = useAppStore()
const item = getItem(itemId)

const newKey = ref('')
const newValue = ref('')

function addAtomToItem(key: string, value: any) {
  if (item && !Object.keys(item).includes(key)) {
    item[key] = value;
    newKey.value = newValue.value = '';
  }
}
</script>

<template>
  <RouterLink :to="{name: 'items'}">
    <PrimaryButton class="m-0 ml-5" name="routeToItems">↖ Retour à la liste</PrimaryButton>
  </RouterLink>

  <PrimaryButton name="delete" class="bg-red-500 border-red-800" @click="removeItem(item)">delete</PrimaryButton>
  <ul class="m-5">
    <li v-for="(value, key) in item" :key="key">
      <input class="border w-1/5" type="text" :value="key"> :
      <input class="border w-3/5" type="text" :value="value">
      <PrimaryButton disabled name="deleteAtom" class="m-1 border-red-200 bg-red-100">-</PrimaryButton>
    </li>
  </ul>
  <div class="m-5 mt-10">
    <input class="border w-1/5" v-model="newKey"> :
    <input class="border w-3/5" v-model="newValue">
    <PrimaryButton @click="addAtomToItem(newKey, newValue)" name="createNewAtom" class="m-1">add</PrimaryButton>
  </div>
</template>
