<script setup id="AppFooter" lang="ts">
import PrimaryButton from "../components/ui/PrimaryButton.vue";
import InputText from "../components/ui/InputText.vue";
</script>

<template>
  <div class="fixed bottom-0 left-0 right-0 bg-white shadow-2xl flex">
    <InputText name="search" placeholder="type some search word" class="mr-0"/>
    <PrimaryButton name="search">search</PrimaryButton>
  </div>
  <footer class="mb-32 p-5">
    <RouterLink :to="{ name: 'information-page' }">Page Information</RouterLink>
  </footer>
</template>
