<script setup lang="ts">
defineProps<{
  title: string
}>()
</script>

<template>
  <RouterLink :to="{ name: 'home' }" class="no-underline text-gray-600">
    <h1 class="font-extrabold m-5"><img src="../favicon.ico" alt="logo" width="30" class="inline pb-1">{{ title }}</h1>
  </RouterLink>
</template>
