<template>
  <ul>
    <li v-for="(value, key) in item" :key="key">
      <div v-if="!['uuid', 'type', 'title', 'isDone'].includes(key.toString())">
        <ContentAtom v-if="key.toString() === 'content'" :content="value"/>
        <TagsAtom v-else-if="key.toString() === 'tags'" :tags="value"/>
        <StarsAtom v-else-if="key.toString() === 'stars'" :stars="value"/>
        <ChildrenAtom v-else-if="key.toString() === 'children'" :children="value"/>
        <div v-else>
          <b>{{ key }}</b>: {{ value }}
        </div>
      </div>
    </li>
  </ul>
  <div>
    <input class="border w-1/5" v-model="newKey" name="keyAdd" placeholder="key"/> :
    <input class="border w-3/5" v-model="newValue" name="valueAdd" placeholder="value">
    <PrimaryButton
        @click="addAtomToItem(newKey, newValue)"
        name="createNewAtom"
        class="border-green-300 bg-green-100 m-1">
      +
    </PrimaryButton>
  </div>
</template>

<script setup lang="ts">
import ContentAtom from './atoms/ContentAtom.vue'
import TagsAtom from './atoms/TagsAtom.vue'
import StarsAtom from './atoms/StarsAtom.vue'
import ChildrenAtom from './atoms/ChildrenAtom.vue'
import {ref} from "vue";
import PrimaryButton from "./ui/PrimaryButton.vue";

interface Props {
  item: any
}

const {item} = defineProps<Props>()
const newKey = ref('')
const newValue = ref('')

function addAtomToItem(key: string, value: any) {
  if (!Object.keys(item).includes(key)) {
    item[key] = value;
    newKey.value = newValue.value = '';
  }
}
</script>
