<template>
  <TodoCard v-if="item['type'] === 'todo'" :item="item"/>
  <PeopleCard v-else-if="item['type'] === 'people'" :people="item"/>
  <ObjectCard v-else-if="item['type'] === 'card'" :item="item"/>
  <div v-else>
    <CardComponent>{{item}}</CardComponent>
  </div>
</template>
<script setup lang="ts">
import ObjectCard from "./cards/ObjectCard.vue";
import TodoCard from './cards/TodoCard.vue';
import PeopleCard from "./cards/PeopleCard.vue";
import CardComponent from "./ui/CardComponent.vue";

interface Props {
  item: any
}

const {item = {}} = defineProps<Props>()
</script>
