<script setup lang="ts">
import {computed} from "vue"

interface Props {
  children: string[]
}
const {children = []} = defineProps<Props>()

const numberOfChildren = computed(() => children.length)
</script>

<template>
  <div v-if="numberOfChildren === 1">
    <b>child: </b><span>{{ children[0] }}</span>
  </div>
  <div v-else>
    <b>children: </b>
    <ul>
      <li v-for="child in children" :key="child">{{child}}</li>
    </ul>
  </div>
</template>
