<template>
  <p>
    <b v-for="tag in tags" :key="tag"> #{{ tag }} </b>
  </p>
</template>

<script setup lang="ts">
interface Props {
  tags: string[]
}
const {tags = []} = defineProps<Props>()
</script>

