<script setup lang="ts">
import AppTitle from './components/AppTitle.vue';
import AppFooter from './components/AppFooter.vue'
</script>

<template id="app">
  <AppTitle title="Veblada" />
  <RouterView />
  <AppFooter />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #363c49;
}
</style>
