<script setup id="InputText" lang="ts">
defineProps<{
  name?: string
  placeholder?: string
}>()
</script>

<template>
  <input class="border p-1 m-5 w-auto flex-auto" :name="name" :placeholder="placeholder">
</template>
