<script setup id="PrimaryButton" lang="ts">
defineProps<{
  name: string
}>()
</script>
<template>
  <button type="button" :name="name" class="m-5 p-1 border rounded disabled:text-gray-300">
    <slot></slot>
  </button>
</template>
